@use "layout/utils";

.container {
    @extend %fullsize;

    display: flex;
    flex-flow: column;
    place-items: center;
    gap: 1rem;
}

.topPanel {
    @extend %fullsize;

    flex: 2 1 5rem;
    overflow: hidden;
}

.cube {
    @extend %fullsize;
}

.face {
    @extend %fullsize;
}

.buttonGrid {
    @extend %fullsize;

    flex: 1 1 5rem;
    overflow: hidden;

    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(7, 1fr);
}

.faceButton {
    padding: 0;

    border: 0;
    border-radius: 0.5em;

    overflow: hidden;
}
