@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
        width: max(25%, 2em);
        height: max(25%, 2em);

        animation: spin 2s ease infinite;
    }
}
