@use "assets/bootstrap/core" as bootstrap;

.fixedplugin {
    position: fixed;
    right: 0;
    width: 64px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    top: 130px;

    li > a,
    :global(.badge) {
        transition: all 0.34s;
    }

    :global(.fa-cog) {
        color: bootstrap.$white;
        padding: 10px;
        border-radius: 0 0 6px 6px;
        width: auto;
    }

    :global(.fa-circle-thin) {
        color: bootstrap.$white;
    }

    :global(.active) :global(.fa-circle-thin) {
        color: bootstrap.$active-blue;
    }

    :global(.dropdown-menu) {
        right: 80px;
        left: auto !important;
        width: 290px;
        border-radius: 0.1875rem;
        margin-top: -97px;
        padding: 0 10px;
        background: linear-gradient(bootstrap.$black, bootstrap.$black-states);

        transform: translateY(-15%);
        top: 27px;
        opacity: 0;

        transform-origin: 0 0;

        :global(.tim-icons) {
            top: 5px;
        }

        &:before,
        &:after {
            right: 10px;
            margin-left: auto;
            left: auto;

            content: "";
            display: inline-block;
            position: absolute;
            top: 74px;
            width: 16px;
            transform: translateY(-50%);
        }

        &:before {
            border-bottom: 0.4em solid rgba(0, 0, 0, 0);
            border-left: 0.4em solid rgba(0, 0, 0, 0.2);
            border-top: 0.4em solid rgba(0, 0, 0, 0);
            right: -16px;
            top: 46px;
        }

        &:after {
            border-bottom: 0.4em solid rgba(0, 0, 0, 0);
            border-left: 0.4em solid bootstrap.$black;
            border-top: 0.4em solid rgba(0, 0, 0, 0);
            right: -16px;
        }

        > :global(.active) {
            > a,
            > a:hover,
            > a:focus {
                color: bootstrap.$active-gray;
                text-align: center;
            }
        }

        li {
            display: block;
            padding: 18px 2px;
            width: 25%;
            float: left;

            > a:hover,
            > a:focus {
                box-shadow: none;
            }
        }
    }

    &.show :global(.dropdown-menu) {
        opacity: 1;
        transform: translateY(-13%);
        transform-origin: 0 0;
    }

    img {
        border-radius: 0;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    :global(.badge) {
        border: 2px solid bootstrap.$white;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 23px;
        margin-right: 5px;
        position: relative;
        width: 23px;

        &:empty {
            display: inline-block;
        }

        &:global(.active),
        &:hover {
            border-color: bootstrap.$black-states;
        }
    }

    %allbadges {
        margin: 0;
        border: 1px solid bootstrap.$info;
        &:hover {
            border: 1px solid bootstrap.$info;
        }
    }

    .lightBadge {
        @extend %allbadges;
        background: bootstrap.$white;
        &:hover {
            background: bootstrap.$white;
        }
    }

    .darkBadge {
        @extend %allbadges;
        background: bootstrap.$black;
        &:hover {
            background: bootstrap.$black;
        }
    }

    h5 {
        margin: 10px;
    }

    li.adjustmentsLine,
    li.headerTitle,
    li.buttonContainer {
        width: 100%;
        height: 50px;
        min-height: inherit;
    }

    li.buttonContainer {
        height: auto;

        div {
            margin-bottom: 5px;
        }
    }

    li.headerTitle {
        color: bootstrap.$white;
        height: 30px;
        line-height: 25px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .adjustmentsLine {
        a {
            color: transparent;

            .badgeColors {
                position: relative;
                top: -2px;
            }

            a:hover,
            a:focus {
                color: transparent;
            }
        }

        .colorLabel {
            position: relative;
            top: -7px;
            font-size: bootstrap.$font-size-xs;
            color: bootstrap.$white;
        }

        :global(.dropdown-menu) > li.adjustmentsLine > a {
            padding-right: 0;
            padding-left: 0;
            border-bottom: 1px solid #ddd;
            border-radius: 0;
            margin: 0;
        }
    }

    &.navopen {
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
}
