@use "assets/bootstrap/core" as bootstrap;

.footer {
    padding: 24px 0;

    [class*="container-"] {
        padding: 0;
    }

    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}

ul.navbar {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    padding-left: 30px;
    list-style: none;

    > li {
        display: inline-block;

        &:first-child a {
            padding-left: 0;
        }

        > a {
            color: bootstrap.$white;
            padding: 0 bootstrap.$padding-base-vertical;
            font-size: bootstrap.$font-size-sm;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.copyright {
    font-size: bootstrap.$font-size-sm;
    line-height: 1.8;
    color: bootstrap.$white;

    @media screen and (min-width: 992px) {
        float: right;
        padding-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .copyright {
        text-align: right;
        margin-right: 15px;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        text-align: center;
    }

    ul.navbar {
        float: none;
        padding-left: 0;
    }

    .copyright {
        text-align: center;
    }
}
