@use "assets/bootstrap/core" as bootstrap;

.wrapper {
    display: flex;
    align-items: center;
}

:global(.bg-white) {
    .searchBar:global(.input-group) {
        i {
            color: bootstrap.$black;
        }

        :global(.form-control) {
            background: rgba(bootstrap.$black, 0.1);
            border-radius: 4px;
        }
    }
}

.toggle button:focus {
    outline: none;
}

.searchBar {
    margin-left: bootstrap.$margin-lg-vertical;

    :global(.btn) {
        margin: 0;
    }

    &:global(.input-group) {
        border-radius: 25px;
        z-index: 4;
        margin-bottom: 0;
        height: 43px;
        padding-right: 5px;
        :global(.input-group-addon) {
            padding: 10px;
            background: transparent;
            border: none;
            color: rgba(255, 255, 255, 0.7);
        }

        i {
            font-size: 20px;
            color: bootstrap.$white;
            margin-top: 0;
        }

        input {
            background: transparent;
            border: none;
            border-radius: 0;
            padding: 12px;
            font-size: 12px;
            opacity: 0.5;
            &:focus {
                background: transparent;
            }
        }

        :global(.form-control) {
            opacity: 1;
            color: bootstrap.$white;
            &::placeholder {
                color: white;
            }
        }
    }
}

.absolute {
    position: absolute;
    z-index: 1050;
}

.transparent {
    background: transparent;
}

.notification {
    background: bootstrap.$danger;
    color: bootstrap.$white;
    border-radius: bootstrap.$border-radius-xl;
    height: 6px;
    width: 6px;
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    top: 10px;
    right: 10px;
    border: 1px solid bootstrap.$danger;
}

.modalSearch {
    :global(.modal-dialog) {
        margin: 20px auto;
        max-width: 650px;
        input {
            border: none;
            font-size: 17px;
            font-weight: 100;
        }
        span {
            font-size: 35px;
            color: bootstrap.$search-gray;
        }

        :global(.form-control) {
            border: none;
            color: bootstrap.$black;
            &::placeholder {
                color: bootstrap.$black;
            }
        }
    }

    :global(.modal-content) {
        :global(.modal-header) {
            padding: 24px;
        }
    }

    :global(.modal-header) :global(.close) {
        color: bootstrap.$dark-background;
        top: 30px;
    }

    :global(.modal-footer) {
        border-top: 2px solid #f9f9f9;
        margin: 0px 25px 20px;
    }
}

@mixin bar-animation($type) {
    animation: $type 500ms 0s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .modalSearch :global(.modal-dialog) {
        padding: 0 40px;
    }

    .kebab {
        display: block;
        position: relative;

        height: 4px;
        width: 4px;
        margin-bottom: 3px;
        border-radius: 50%;
        background: bootstrap.$white;

        & + .kebab {
            margin-top: 0px;
        }
    }

    :global(.bg-white):not(.transparent) {
        %toggle-bar,
        .kebab {
            background-color: bootstrap.$default;
        }
    }

    %toggle-bar {
        display: block;
        position: relative;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background: bootstrap.$white;

        outline: 1px solid transparent;
        animation-fill-mode: forwards;

        & + %toggle-bar {
            margin-top: 7px;
        }
    }

    .bar1 {
        @extend %toggle-bar;
        @include bar-animation(bootstrap.$topbar-back);

        top: 0px;
    }

    .bar2 {
        @extend %toggle-bar;

        opacity: 1;
        width: 17px;
        transition: width 0.2s linear;
    }

    .bar3 {
        @extend %toggle-bar;
        @include bar-animation(bootstrap.$bottombar-back);

        bottom: 0px;
    }

    .toggled {
        %toggle-bar {
            width: 24px;

            & + %toggle-bar {
                margin-top: 5px;
            }
        }

        .bar1 {
            @include bar-animation(bootstrap.$topbar-x);

            top: 6px;
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            @include bar-animation(bootstrap.$bottombar-x);

            bottom: 6px;
        }
    }

    @keyframes topbar-x {
        0% {
            top: 0px;
            transform: rotate(0deg);
        }
        45% {
            top: 6px;
            transform: rotate(145deg);
        }
        75% {
            transform: rotate(130deg);
        }
        100% {
            transform: rotate(135deg);
        }
    }
    @keyframes topbar-back {
        0% {
            top: 6px;
            transform: rotate(135deg);
        }
        45% {
            transform: rotate(-10deg);
        }
        75% {
            transform: rotate(5deg);
        }
        100% {
            top: 0px;
            transform: rotate(0);
        }
    }

    @keyframes bottombar-x {
        0% {
            bottom: 0px;
            transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            transform: rotate(-145deg);
        }
        75% {
            transform: rotate(-130deg);
        }
        100% {
            transform: rotate(-135deg);
        }
    }

    @keyframes bottombar-back {
        0% {
            bottom: 6px;
            transform: rotate(-135deg);
        }
        45% {
            transform: rotate(10deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            transform: rotate(0);
        }
    }
}

@media screen and (min-width: 992px) {
    :global(.navbar-collapse) {
        background: none;
    }

    .toggle {
        display: none;
    }

    :global(.navbar) {
        :global(.caret) {
            position: absolute;
            left: 80%;
            top: 55%;
            margin-left: 0;
        }
    }
    :global(.navbar-expand-lg) .navbarNav :global(.nav-link) {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 576px) {
    .toggle {
        transition: all 1s;
    }

    .toggled {
        left: -20px;
        position: relative;
        right: unset;
        transition: all 1s;
    }
}
