@use "assets/bootstrap/core" as bootstrap;
@use "./common";

.wrapper ul li :global div.collapse ul li div.collapse ul li a {
    margin-left: 25px;
}

%active-before {
    content: " ";
    position: absolute;
    height: 6px;
    width: 6px;
    top: 22px;
    left: -4px;
    background: bootstrap.$white;
    border-radius: 50%;
}

%animation-transition-general {
    @include bootstrap.transitions(
        bootstrap.$general-transition-time,
        bootstrap.$transition-ease
    );
}

.sidebar {
    @include bootstrap.linear-gradient(
        bootstrap.$primary-states,
        bootstrap.$primary
    );

    @media screen and (max-width: 991px) {
        @include bootstrap.transition(
            0.5s cubic-bezier(0.685, 0.0473, 0.346, 1)
        );
        @include bootstrap.transform-translate-x(-260px);
    }

    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1032;
    top: 0;
    right: auto;
    left: 0;
    background-size: cover;
    background-position: center center;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin: 0;
    border-radius: 0;
    padding: 0;
    visibility: visible;
    overflow-y: visible;

    :global(.logo-tim) {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img {
            width: 60px;
            height: 60px;
        }
    }

    :global(.nav) {
        margin-top: 20px;
        display: block;

        // Not part of bootstrap, but used in other places.
        :global(.caret) {
            top: 14px;
            position: absolute;
            right: 10px;
        }

        li {
            > a + div :global(.nav) {
                margin-top: 5px;
                li > a {
                    margin-top: 0px;
                    padding: 8px 8px;
                }
            }

            &:hover,
            &:focus {
                > a:not(.active) {
                    p,
                    i {
                        color: bootstrap.$white;
                    }
                }
            }

            > a {
                margin: 10px 15px 0;
                border-radius: bootstrap.$btn-round-radius;
                color: bootstrap.$white;
                display: block;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                font-size: bootstrap.$font-size-xs;
                padding: 10px 8px;
                line-height: bootstrap.$line-height-lg;

                &.active {
                    background: transparent;

                    i {
                        color: bootstrap.$white;
                    }

                    &:before {
                        @extend %active-before;
                    }

                    &[data-toggle="collapse"] {
                        box-shadow: none;
                        color: bootstrap.$white;

                        & + div :global(.nav) .active a {
                            box-shadow: none;

                            &:before {
                                @extend %active-before;
                            }
                        }
                        &:before {
                            background: rgba(bootstrap.$white, 0.6);
                        }
                    }

                    &:not([data-toggle="collapse"]) {
                        p {
                            color: bootstrap.$white;
                        }
                    }
                }
            }

            &:first-child > a {
                margin: 0 15px;
            }
        }

        p {
            @extend %animation-transition-general;

            margin: 0;
            line-height: 30px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;
        }

        i {
            font-size: 20px;
            float: left;
            margin-right: 12px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            color: bootstrap.$opacity-8;
            position: relative;
        }
    }

    &[data="Blue"] {
        @include bootstrap.linear-gradient(
            bootstrap.$info-states,
            bootstrap.$info
        );
    }
    &[data="Green"] {
        @include bootstrap.linear-gradient(
            bootstrap.$success-states,
            bootstrap.$success
        );
    }
}

.navopen {
    @include bootstrap.transition(0.5s cubic-bezier(0.685, 0.0473, 0.346, 1));
    @include bootstrap.transform-translate-x(0px);

    &:before {
        content: unset;
    }
}

.wrapper {
    @extend %scrollable;

    width: bootstrap.$full-width;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    z-index: 4;
    position: relative;
    overflow: auto;

    :global(.dropdown) {
        display: none !important;
    }

    // I have no idea what is at this time.
    > :global(.nav)[data-toggle="collapse"] ~ div > ul > li > a {
        span {
            display: inline-block;
            // @extend %animation-transition-general;
        }

        i {
            font-size: 17px;
            line-height: 20px;
            width: 26px;
        }
    }
}

.logo {
    position: relative;
    padding: bootstrap.$padding-base-vertical bootstrap.$padding-base-horizontal;
    z-index: 4;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 15px;
        height: 1px;
        width: calc(100% - 30px);
        background: bootstrap.$opacity-5;
    }

    p {
        float: left;
        font-size: 20px;
        margin: 10px 10px;
        color: bootstrap.$white;
        line-height: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.logomini {
    @extend %animation-transition-general;

    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;

    img {
        border-radius: 50%;
        width: 30px;
    }
}

.logonormal {
    @extend %animation-transition-general;
    @include bootstrap.transform-translate-x(0px);

    display: block;
    opacity: 1;
}

.simpletext {
    text-transform: uppercase;
    padding: bootstrap.$padding-base-vertical 0;
    display: block;
    white-space: nowrap;
    // font-size: bootstrap.$font-size-base;
    color: bootstrap.$white;
    text-decoration: none;
    font-weight: bootstrap.$font-weight-normal;
    line-height: 30px;
    overflow: hidden;
}
